@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


 *{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    Font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}
#card{
    height: 600px;
    width: 80%;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}



/* style for background png  */
#position{
    position: absolute;
}

.bg{
    width: 100%;
    position: relative;
    z-index: -999;
    height: 100vh;
}

.bgm{
    display: none;
    width: 100%;
    height: 35%;
    klyfdkc
}

/* style for the cards display  */

.card-left{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-front{
    height: 160px;
    width: 100%;
    position: absolute;
    top: 90;
    left: 90;
}
.card-back{
    height: 160px;
    width: 100%;
    position: absolute;
    top: 320;
    left: 150;
}
#front{
    width: 100%;
    border-radius: 5px;
}

/* style for the input of info */

.card-right{
    width: 70%;
}

.form{
    margin-left: 250px;
    padding: 30px;
    margin-top:150px;
    font-size: smaller;
}

.form input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 10px;
}


#input-short{
    width: 60px;
}

#input-short1{
    width: 60px;
}

#input-short2{
    margin-right: 70px;
}


#confirm {
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

#label{
   display: flex;
   justify-content: space-between; 
   width: 200px;
}

#lab{
    margin-bottom: 8px;
    font-weight: 500;
}

/* media qeury for screen size 375px */

@media screen and (max-width:375px) {

    /* style for background png  */

    .bg{
        display: none;
    }

    .bgm{
        display:grid;
        z-index: -1;
    }

    #card{
        display: block;
        margin-left: 0%;
    }

    /* style for the cards display  */
    
    .card-left{
        position: relative;
        position: absolute;
        top: 0%;
        left: 0;
    }

    .card-front{
        width: 250px;
        top: 20%;
        left: 20%;
        position: absolute;
        z-index: 999;
    }

    #front{
        border-radius: 7px;
    }

    .card-back{
        width: 250px;
        top: 9%;
        left: 80%;
    }

/* style for the input of info */

    .form{
        margin-left: 10%;
        margin-top: 30%;
        padding: 0%;
    }


    .form input{
        width: 350px;
        height: 50px;
    }

    #confirm{
        width: 350px;
        height: 50px;
    }
}

/* blessings */