*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}
#card{
    /* border: 1px solid green; */
    height: 600px;
    width: 80%;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
.card-left{
    /* border: 1px solid red; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-image: url(bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-right{
    /* border: 1px solid blue; */
    width: 70%;
}
.card-front{
    /* border: 1px solid red; */
    height: 160px;
    width: 100%;
    position: absolute;
    top: 120;
    left: 120;
    background-color: white;
}
.card-back{
    /* border: 1px solid blueviolet; */
    height: 160px;
    width: 100%;
    position: absolute;
    top: 320;
    left: 150;
    background-color: white;
}
#front{
    width: 100%;
    height: 100%;
}
.form{
    margin-left: 250px;
    padding: 30px;
    /* border: 1px solid red; */
    margin-top:150px;
    font-size: smaller;
}
.form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 10px;
}
#input-short{
    width: 60px;
}